main {
    margin: 0;
    font-family: "Helvetica";
    color: #Eff1f3;
    background-color: #272727;
    font-size: 22px;
    text-align: center;
  }
  body {
    margin: 0;
    font-family: "Helvetica";
    color: #Eff1f3;
    background-color: #272727;
    font-size: 22px;
    text-align: center;
  }
#pictures {
    display: block;
    height: 10px;
    width: 30px;
    border: 15px;
    padding: 50px;
    margin: 5px;
}
