@import url("https://fonts.google.com/specimen/Inter");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

@import "reset.css";

:root {
  /* _typography */
  --primary-dark-blue: hsl(233, 47%, 7%);
  --primary-desaturated-blue: hsl(244, 38%, 16%);
  --primary-soft-violet: hsl(277, 64%, 61%);

  --secondary-white: hsl(0, 0%, 100%);
  --secondary-transparent-white: hsla(0, 0%, 100%, 0.75);
  --secondary-transparent-slight-white: hsla(0, 0%, 100%, 0.6);

  --light-paragraph: "Inter", sans-serif;
  --dark-paragraph: "Lexend Deca", sans-serif;

  /* layouts */
  --mobile-breakpoint: 375px;
  --mobile-breakpoint: 1440px;
}

/* Set core root defaults */
html {
  font-size: 62.5%;
}

.h5 {
  text-align: center;
}
